{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
		"@babel/preset-typescript"
  ],
	"plugins": [
		["module-resolver", {
			"alias": {
				"@app": "./src/app",
				"@domain": "./src/domain",
				"@infra": "./src/infra",
				"@main": "./src/main"
			}
		}]
	],
	"ignore": [
		"**/*.test.ts"
	]
}
